#content {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

section h2 {
    font-size: 32px;
    font-family: 'ubuntu', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFF;
    letter-spacing: 4px;
}

.jogo {
    width: 213px;
    height: 300px;
    float: left;
    margin: 30px 27px 15px 29px;
}

.jogo img {
    width: 213px;
    height: 300px;
    opacity: 0.70;
}

.jogo img:hover {
    opacity: 1;
}
